USE [DB_Mendez]
GO
/****** Object:  Table [dbo].[pagossinuuid]    Script Date: 16/11/2022 12:14:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagossinuuid](
	[id] [bigint] NULL,
	[resultados] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[pagossinuuid] ([id], [resultados]) VALUES (71439, 0)
INSERT [dbo].[pagossinuuid] ([id], [resultados]) VALUES (71869, 0)
INSERT [dbo].[pagossinuuid] ([id], [resultados]) VALUES (91391, 0)
GO
